@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}

.paymentBreakdownDiv table thead>tr:last-child th{
  font-size: 11px;
  font-weight: normal;
  padding: 1.5px;
}

.paymentBreakdownDiv .p-datatable table .p-datatable-thead >tr>th{
background-color: #eaeaea !important;
}

#invoice-table .actionButtons button{
  margin-left: 10px;
  margin-bottom: 10px;
}

.orderanalysistable th, .orderanalysistable td{
  font-size: 16px;
  text-align: center;
}
.orderanalysistable th{
  font-weight: bold;
  min-width: 200px;
}

.noResultsMsg{
  text-align: center;
  padding-top: 20px;
  color: #FA001B;
  font-weight: bold;
}

#login-page.container, #page-404.container{
    max-width: 1260px;
}

.flex-block{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
}

#login-page .flex-block>.login-flex-block, #page-404 .flex-block>.flex-block-404{
  min-height: 80vh;
  margin: auto 0;
  display: flex;
  align-items: center;
}

#page-404 .flex-block>.flex-block-404{
  min-height: 70vh;
}

#page-404 .flex-block>.top-logo{
  display: flex;
  min-height: 10vh;
}

#page-404 .flex-block>.top-logo a{
  display: flex;
}

#login-page .flex-block>.login-flex-block:nth-of-type(1){
  flex-direction: row-reverse;
  padding: 0px 100px 0px 0px;
}

#login-page .flex-block>.login-flex-block .login-box{
  width: 265px;
  text-align: center;
}

#page-404 .flex-block>.flex-block-404 .box-404{
 width: 100%;
 text-align: center;
}

#page-404 .flex-block>.flex-block-404 .box-404 h1{
  font-size: 150px;
  color: #FA1931;
  font-weight: bold;
}

#page-404 .flex-block>.flex-block-404 .box-404 .description-404{
  font-size: 18px;
  color: #696969;
  font-weight: 500;
  padding: 0 100px;
}

#page-404 .flex-block>.flex-block-404 .box-404 .small-description-404{
  font-size: 12px;
  color: #696969;
  padding-top: 60px;
}

#login-page .flex-block>.login-flex-block .login-box .login-description{
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
}

#login-page .flex-block>.login-flex-block .login-box .social-btn{
    color:white;
    width:100%;
    font-size: 14px;
    font-weight: 500;
}

#login-page .flex-block>.login-flex-block .login-box .social-login{
    width:100%;
    margin:0 auto;
    margin-bottom: 14px;
}

#login-page .flex-block>.login-flex-block .login-box .facebook-btn{
  background-color:#3C589C;
}

#login-page .flex-block>.login-flex-block .login-box .google-btn{
  background-color: #DF4B3B;
  margin-bottom: 10px;
}

#login-page .flex-block .login-flex-block#login-motor{
  background-image: url("../images/login-motor.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#page-404 .flex-block .flex-block-404#photo-404{
  background-image: url("../images/404-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#login-page .flex-block .bottom-circles, #page-404 .flex-block .bottom-circles{
  background-image: url("../images/circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 20vh;
}

.page-box-wrap{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  margin: 30px 0;
  border-top: #FA1931 4px solid;
}

.page-box-wrap .page-box-wrap-inner{
  max-width: 450px;
}

.page-box-wrap .page-box-title{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 40px;
}

.page-title{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 60px;
}

.profile-details-box{
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-details-box .profile-details-name{
  font-weight: 500;
  font-size: 18px;
}

.profile-details-box .profile-details-email{
  font-size: 14px;
}


.profile-details-box .profile-details>p, .main-header .headerWelcome{
  margin-bottom: 0px;
}

.main-header .headerWelcome{
  height: 100%;
  display: inline-block;
}

.profile-details-box .profile-userpic img {
  float: none;
  margin: 0 auto;
  height: 100%;
  max-height: 150px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.headerWelcome img {
  float: none;
  margin: 0 auto;
  height: 80%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  margin-right: 10px;
}

.sidebar-menu li > a:hover, .sidebar-menu li a:focus, .sidebar-menu li.active > a, .sidebar-menu li > a.active {
    color: #fff;
}

.navbar-custom-menu, .main-header .headerWelcome{
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.navbar-custom-menu li a{
  color: #000;
}

.navbar-custom-menu li.active a{
  color: #FA001B;
}

.settings-update-form-group{
  text-align: right;
}

.mobile-visibility-only{
  display: none;
}

.dekstop-visibility-only{
  display: block;
}

.succesfull-mesage{
  color: green;
}

.paddingtop70{
  padding-top: 70px;
}

.login-help-inputs{
  font-size: 12px;
}

.login-link a{
  color: #0078CF;
  text-decoration: underline;
}

.login-help-inputs>div{
  width: 50%;
  display: inline-block;
}

.login-help-inputs>div:nth-of-type(1){
  text-align: left;
  padding-left: 15px;
}

.login-help-inputs>div:nth-of-type(2){
  text-align: right;
  padding-right: 15px;
}

.login-help-inputs input{
  vertical-align: middle;
}
.ratingBoxes{
  padding-top: 30px;
}
.ratingBoxes .ratingBox{
  padding-bottom: 30px;
}

.ratingBoxes .ratingBox img{
  width: 100%;
  max-width: 100px;
}

.box-rating{
  height: 100%;
  border-radius:5px;
  box-shadow: 0 0 5px;
  padding: 1em;
}

.box-rating .clientRatingLabel{
  padding-top: 10px;
  font-weight: bold;
}

.box-rating .clientDate{
  padding-top: 10px;
  font-style: italic;
}

.box-rating .clientComment{
  padding-top: 10px;
  color:#6F000C;
  font-style: italic;
}
.box-radient{
  /* min-height:195px; */
  height: 100%;
  border-radius:5px;
  padding: 1em;
}
.box-radient-blue{
  color: #fff;
  /* background: radial-gradient(circle at 90% 0%, #1987ff 45%, #007AFF 0%); */
  background: radial-gradient(circle at 90% 0%, #156ccc 45%, #0d65c5 0%);
}

.box-radient-yellow{
  color: #fff;
  /* background: radial-gradient(circle at 90% 0%, #ffcd19 45%, #FFC700 0%); */
  background: radial-gradient(circle at 90% 0%, #ffae19 45%, #ff9a00 0%);

}

.box-radient-green{
  color: #fff;
  /* background: radial-gradient(circle at 90% 0%, #39c46e 45%, #23BE5E 0%); */
  background: radial-gradient(circle at 90% 0%, #37b165 45%, #21a052 0%);
}

.box-radient-red{
  color: #fff;
  /* background: radial-gradient(circle at 90% 0%, #ED273C 45%, #fa001b 0%); */
  background: radial-gradient(circle at 90% 0%, #e40019 45%, #d80017 0%);
}

.box-blue{
  background: #007AFF;
}
body .filter-section .p-calendar .p-inputtext,
body .p-multiselect .p-multiselect-label,
body .p-dropdown-label.p-inputtext {
  height: 2.25em;
  margin-bottom: 0;
  font-size: 1rem;
  width: 100%;
}
body .p-inputtext {
  font-size: 1rem;
}
.filter-section {
  margin-bottom: 1em;
}
.filter-section .p-calendar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
body .filter-section .p-calendar.p-calendar-w-btn .p-datepicker-trigger.p-button {
  align-self: flex-end;
}
.filter-section .p-dropdown,
.filter-section .p-multiselect {
  display: block;
  width: 100%;
}
.overview-section, .analysis-section {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #f5f5f5;
}
#overviewPaymentMethods {
  margin-bottom: 1em;
}
.filter-section > div {
  margin-bottom: 1em;
}
.p-treetable tr tr td{
  font-weight: bold;
}
.section-title{
  font-size: 20px;
  font-weight: bold;
}
.paddingBottom{
  margin-bottom: 1em;
}
.paddingTop{
  margin-top: 1em;
}
#overviewDates, #analysisDates {
  margin-bottom: 1em;
  font-weight: bold;
}

#overviewOverallSales > .col-md-2,
#analysisOverallSales > .col-md-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#overviewOverallSales .description,
#analysisOverallSales .description {
  font-size: 0.8em;
  font-weight: bold;
  color: #666;
}
#overviewOverallSales .price,
#analysisOverallSales .price,
#overviewPaymentMethods .price {
  font-size: 1em;
  font-weight: bold;
}
.payment-method {
  margin-bottom: 1em;
  font-weight: bold;
}
.box-radient .description {
  font-size: 0.8em;
}

.customPopup{
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  position: absolute !important;
}

#popupAnalysisLarge{
  max-width: 900px;
  top: 40% !important;
}

#popupAnalysisSmall{
  max-width: 350px;
  top: 50% !important;
}

#popupAnalysisLarge .order-number {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#popupAnalysisLarge .order-details-title {
    font-weight: bold;
}

#popupAnalysisSmall .order-number {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#popupAnalysisSmall .order-details-title {
  font-weight: bold;
}


.p-overlaypanel::before, .p-overlaypanel.p-overlaypanel-flipped::after{
  top: 0;
  display: none;
}

body .p-overlaypanel .p-overlaypanel-close {
    background-color: #000 !important;
}

.postCodeDivRow{
  padding-left: 15px;
  padding-right: 15px;
}

.postCodeDiv, .zoneArea{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
}

.zoneArea{
  padding-top: 10px;
}

.zipDescription {
  margin-right: 5px;
}

.zoneDescription{
  font-weight: bold;
}

.buttonOverlayDiv{
  text-align: center;
  padding: 30px 0px;
}

.customPopup .p-overlaypanel-content{
  border-top: 3px solid #FA001B;
  padding: 20px;
}

#popupRestaurantControl{
  max-width: 490px;
  top: 10% !important;
}

.customPopup#popupRestaurantControl .p-overlaypanel-content{
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popupMenu{
  max-width: 450px;
  top: 10% !important;
}

#popupMenu .datesRow{
  padding-bottom: 15px;
}

#popupMenu .dayDescription{
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

#popupMenu .title{
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}

.btn.btn-link, .btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link:focus{
  color: #007AFF;
  text-decoration: none;
  font-weight: bold;
  box-shadow:none;
}

#tableNotToPrint table tr td, #tableToPrint table tr td{
  text-align: center;
}

#tableNotToPrint table tfoot tr td, #tableToPrint table tfoot tr td{
  background-color: #007AFF;
  font-weight: bold;
  color: white;
}

#treeNotToPrint .parentNode td, #treeToPrint .parentNode td{
  font-weight: bold;
}


#component-page tbody tr:nth-child(odd) {
    background-color: #F7F7F7 !important;
}

#component-page tbody tr:nth-child(even) {
    background-color: #ffffff !important;
}

.exportButtonsDiv .p-button{
  margin-left:10px;
}

.p-multiselect-header #selectAllLabel{
  margin-top: 5px;
  line-height: 1;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item label {
    margin-bottom: 0;
}

.restaurantControlOuterBox .restaurantControlInnerBox{
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  margin: 0 15px 20px;
}

.restaurantControlOuterBox .restaurantControlInnerBox>.col-md-9{
  padding: 30px 30px 50px;
}

.restaurantControlOuterBox .restaurantControlInnerBox>.col-md-3{
  padding-right: 0px;
}

.restaurantControlOuterBox .restaurantControlInnerBox .restaurantControlInnerBoxRow{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.restaurantControlOuterBox .restaurantControlInnerBox .fa{
  color: #FA001B;
}

.restaurantControlOuterBox .restaurantControlInnerBox .restaurantName{
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  margin-left: 10px;
  margin-bottom: 20px;
}

.restaurantControlOuterBox .restaurantControlInnerBox .restaurantDescription{
  color: #696969;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 20px;
}

.restaurantControlOuterBox .restaurantControlInnerBox .restaurantControlInnerBoxRow .restaurantDescription{
  height: auto;
}

.restaurantControlOuterBox .restaurantControlInnerBox .p-spinner{
  height: 100%;
  width: 100%;
}

.restaurantControlOuterBox .restaurantControlInnerBox .restaurantSpinnerFirst .p-spinner{
  margin-right: 10px;
}



.restaurantControlOuterBox .restaurantControlInnerBox .p-spinner .p-inputtext{
  top: 20%;
  position: absolute;
  width: 100%;
  height: 60%;
  border-radius: 0;
  padding: 0;
  text-align: center;
  font-size: 38px;
  border: 1px solid #C4C4C4;
  font-weight: bold;
  color: #4a4a4a;
}

.restaurantControlOuterBox .restaurantControlInnerBox .restaurantSpinner.spinnerLast .p-spinner .p-inputtext{
  border-right-color: transparent;
}

.restaurantControlOuterBox .restaurantControlInnerBox .p-spinner .p-spinner-button.p-spinner-button{
  height: 20%;
  width: 100%;
  background-color: #C4C4C4;
  color: #4a4a4a;
  border-color: #C4C4C4;
}

body .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider, body .p-inputswitch.p-inputswitch-checked:not(.p-disabled) .p-inputswitch-slider {
    background-color: #23BE5E !important;
}

body .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider, body .p-inputswitch:not(.p-disabled) .p-inputswitch-slider {
    background-color: #FA001B !important;
}

.menuPage .categoryAndItems .category{
  padding: 20px 30px;
  background-color: #f7f7f7;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  margin-top: -10px;
  align-items: center;
}

.menuPage .categoryAndItems .description{
  margin-left: 10px;
}

.menuPage .categoryAndItems .categoryItems .categoryItem{
  padding: 10px 30px 3px;
  align-items: center;
}

.menuPage .categoryAndItems .category .description, .menuPage .categoryAndItems .categoryItems .categoryItem .description{
  font-weight: 600;
}

.menuPage .categoryAndItems .categoryItemOptionItem{
  display: flex;
  padding: 5px 15px;
  align-items: center;
}

.menuPage .categoryAndItems .categoryItemOptions{
  margin-bottom: 15px;
}

.menuPage .categoryAndItems .descriptionTitle{
  font-size: 20px;
  font-weight: bold;
  background-color: #FA001B;
  color: #fff;
  padding: 3px 20px;
  margin-bottom: 10px;
  border-top: 2px solid #9D0415;
  border-bottom: 2px solid #9D0415;
}

.menuPage .categoryAndItems .categoryItemOptions .p-tabview-panel{
  display: flex;
}

.menuPage .categoryAndItems .categoryItemOptions .categoryItemOptionItemsOuter{
  width: 100%;
}

.menuPage .p-accordion .p-accordion-header a > span {
  font-size: 20px;
}

.availableHoursClock.p-button, .availableHoursClock.p-button:hover, .availableHoursClock.p-button:active, .availableHoursClock.p-button:focus{
  background-color: transparent !important;
  color: #9D0415 !important;
  border: transparent !important;
}

.availableHoursClock.p-button-icon-only .p-button-icon-left {
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
}

.editButton.p-button, .editButton.p-button:hover, .editButton.p-button:active, .editButton.p-button:focus{
  background-color: transparent !important;
  color: black !important;
  border: transparent !important;
}

.menuThumbnailImage {
  width:60px;
  height:60px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  object-fit: cover;
}

.editButton.p-button-icon-only .p-button-icon-left {
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
}

body .editButton .pi {
  font-size: 2.25em;
}
body .availableHoursClock .pi {
    font-size: 2.25em;
}

.averageRating{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}


.warningMessageZip{
  color: red;
  font-size: 10px;
}

@media only screen and (min-width: 1632px) {
  .deliveryColumn{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}


@media only screen and (min-width: 768px) {
  .restaurantControlOuterBox .restaurantControlInnerBox .restaurantControlInnerBoxRow>div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 120px;
  }
  .restaurantSpinner{
    padding-right: 0px !important;
  }

  .restaurantControlOuterBox .restaurantControlInnerBox > .col-md-3 {
    padding: 30px 30px 10px;
  }
}

@media only screen and (max-width: 1228px) and (min-width: 768px) {
  .restaurantControlOuterBox .restaurantControlInnerBox > .col-md-3 {
      padding: 30px 10px 10px 30px;
  }
  .restaurantControlOuterBox .restaurantControlInnerBox .restaurantDescription{
    font-size: 12px;
    /* display: inline-block; */
    height: unset;
    margin-right: 10px;
    /* vertical-align: middle;
    margin-right: 20px; */
  }

  .restaurantControlInnerBox > .col-md-9 > .row > .col-md-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .restaurantControlInnerBox > .col-md-9 > .row > .col-md-4 > .p-inputswitch{
    height: 2.75em;
  }

  .restaurantControlOuterBox .restaurantControlInnerBox .restaurantControlInnerBoxRow .restaurantDescription{
    top: 25%;
  }
}


@media only screen and (max-width: 767px) {

  .orderanalysistableDiv{
    overflow-x: scroll;
  }

  .deliveryColumn{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .col-md-3.postCodeDiv {
    width: 50%;
  }

  .ratingBoxes .ratingBox{
    text-align: center;
  }
  .averageRating{
    font-size: 28px;
  }

  .page-title {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .main-sidebar {
    padding-top: 90px;
  }

  .mobile-visibility-only{
    display: block;
  }
  .dekstop-visibility-only{
    display: none;
  }
  .mobile-visibility-only.logo-menu-item{
    text-align: center;
  }

  .main-header .logo{
    display: none;
  }

  #login-page .flex-block > .login-flex-block:nth-of-type(1) {
    padding: 0px;
  }

  #login-page .flex-block .login-flex-block#login-motor, #page-404 .flex-block .flex-block-404#photo-404 {
    position: fixed;
    z-index: -1;
    background-position: left;
    right: -72%;
  }
  .navbar-custom-menu{
    display: none;
  }

  #page-404 .flex-block > .flex-block-404 .box-404 .description-404 {
    padding: 0px;
  }
  #overviewOverallSales > div,
  #overviewPaymentMethods > div {
    margin-bottom: 1em;
  }


  #tableNotToPrint, #tableToPrint{
    min-width: 800px;
  }

  .paymentBreakdownDiv{
    overflow-x: scroll;
  }

  .restaurantControlOuterBox .restaurantControlInnerBox > .col-md-3 .col-md-4 {
    text-align: center;
  }

  .restaurantControlOuterBox .restaurantControlInnerBox .restaurantControlInnerBoxRow .restaurantDescription{
    max-height: 30px;
  }

  .restaurantControlOuterBox .restaurantControlInnerBox .restaurantDescription {
    min-width: 100px;
  }

  .restaurantControlOuterBox .restaurantControlInnerBox .restaurantControlInnerBoxRow {
    min-height: 150px;
    padding-top: 20px;
  }

  .restaurantControlOuterBox .restaurantControlInnerBox .restaurantControlInnerBoxRow>div{
    display: flex;
  }

  .restaurantSpinner{
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-height: 60px;
  }

  #popupMenu .datesRow .col-md-6 .description{
    width: 30%;
    display: inline-block;
  }

}
